@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Cal Sans', sans-serif;
}

h2 {
  color: black;
}

span {
  color: black;
}

.card-box .card {
  transition:box-shadow 0.3s, transform 0.3s;
}

.card-box .card:hover {
  box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
  transform:translate(0, -2px);
}

.sample_btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #2E4F89;
  border-bottom: 2px;
}

.sample_btn:hover{
  color: #2E4F89;
}

.sample_btn {
  position: relative;
}

.sample_btn::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #2E4F89;
  bottom: -10px;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s;
}

.sample_btn:hover::after {
  transform: scale(1, 1);
  transform-origin: left top;
}

.fuwafuwa {
  animation: fuwafuwa 3s ease-in-out infinite alternate;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 70px;
  height: 70px;
  margin-top: 15px;
}
 
@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 3s ease-in-out;
}
